:root {
  --blue: #59e7db;
  --purple: #6d47d9;
  --orange: #f2b306;
  --shadow: 0px 5px 25px 0px #333;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(120deg, var(--blue), var(--purple));
  background-size: 100vw 200vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.mt50 {
  padding-top: 50px;
  overflow: visible;

}
button {
  border: 0;
}
header {
  background-color: rgba(0, 0, 0, 01);
  padding: 10px;
  box-shadow: var(--shadow);
}

.logo {
  float: left;
  font-size: 1.5em;
  position: relative;
  top: -0.2em;
}

.tdg, header ul {
  color: white;
}
.bol {
  color: var(--blue);
}
ul {
  list-style: none;
}

header ul, header button, .loginBtn {
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

header li {
display: inline;
float: right;
padding: 0 20px 0 0;
}

.login {
  text-align: center;
  overflow: visible;
}
header button, .loginBtn {
  background: var(--orange);
  color: black;
  border-radius: 5px;
  padding: 0.3em 1em;
  position: relative;
  top: -0.3em;
  box-shadow: var(--shadow);
  transition-duration: 1s;
}
header button {
  box-shadow: 0px 5px 25px 0px #777;
}
header button:hover, .loginBtn:hover {

  background: #ffee53;
  transition-duration: 0.5s;
  cursor: pointer;
}
.hello {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr;
}
.box {
  background: white;
  height: minmax(200px, auto);
  width: 100%;
  border-radius: 4px;
  box-shadow: var(--shadow);
  /* overflow: show; */
  padding: 1em;
  position: relative;
}

.product-edit, .product-list {
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-edit input,
.product-edit textarea,
.product-edit select {
  width: 50%;
  padding: 10px;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
 
}
.product-edit input:focus,
.product-edit textarea:focus,
.product-edit select:focus {
  outline: 0;
  background: #fef2de;
}
.product-edit input:first-of-type, 
.product-edit input:last-of-type,
.product-edit button {
  width: 100%;
}
.product-edit button {
  padding: 0;
  margin: 0;
  box-sizing: 
}
.product-edit button:hover {
  color: white;
  background: #333;
  transition-duration: 0.5s;
}

.product-list {
margin: 0;
padding: 0;
list-style: none;
}
#delete {
  padding: 0;
  margin: 0; 
  background: none;
  height: 1em;
  transition: 0.5s;
}
#delete:hover, #delete:focus {  

  transition: 0.5s;
}
.product-item {
  width: 100%;
  padding: 0px 10px 5px 10px;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.product-item:last-child {
  border: 0;
}
    .product-item-name {
      float: left;
    }
    .product-item-change {
      float: right;
      line-height: 1;
      overflow: hidden;
    }
    .product-item img {
      height: 1.5em;
      padding: 0.2em;
      position: relative;
      top: 0.4em;
    }
    .product-item input {
      width: 3em;
    }
.my-product-label[data-state=false], .my-product-label[data-state=true], .add-product-label {
    position: absolute;
    border-radius: 5px;
    padding: 0.2em 1em;
    letter-spacing: 0.1em;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}
.my-product-label[data-state=true], .add-product-label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-20%) rotate(-15deg);
  transform: translateX(-20%) rotate(-15deg);
  transition-duration: 1s;
}
.my-product-label[data-state=false]{
  top: calc( 50% - 1em );
  width: 90%;
  text-align: center;
  transition-duration: 1s;
}
.add-product-label{
  color: var(--blue);
  background: var(--purple)
}
.my-product-label {
  color: var(--purple);
  background: var(--blue)
}
/* BOL COMPONENT */
.bol-form {
  line-height: 2em;
  margin-bottom: 100px;
}
.bol-product:first-of-type {
  border-bottom: solid 1px;
}
.bol-list {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr 2fr 2fr 8fr  2fr 3fr 3fr;
}
.order-info span{
  grid-column: 6/7;
}
.order-info input{
  grid-column-start: 7/10;
}
.bol-line{
  grid-column: 1 / 10;
  border-bottom: solid 1px;
}
.bol-left, .bol-form h2{
  grid-column: 1 / 6;
  padding: 5px;
  margin: 0 5px 10px 0;
}
/* Main BOL GRID */
.bol-right, .bol-info, .total, .pallets, .tel-number, .sig{
  grid-column: 6 / 10;
  margin: 0 0 10px 5px;
}
.consignors-cert {
  grid-column: 1/10;
  line-height: 1.3em;
}
  .bol-right, .bol-left, .bol-info {
    display: grid;
    grid-template-columns: 7em;
  }
  .bol-right span, .bol-left span, .bol-info span {
    grid-column: 1 / 2;
  }
  .bol-right input, .bol-left input, .bol-info input, .bol-right select {
    grid-column: 2 / 3;
    width: 100%;
    border: 0;
    border-bottom: solid 1px;
    line-height: 2em;
  }
  .bol-right div, .bol-left div {
    grid-column: span 2;
  }
.total, .kg, .subTotal, .pallets, .tel-number, .sig {
  text-align: end;
}
.pallets input, .tel-number input, .sig input, .sig select{
  text-align: end;
  border: 0;
  border-bottom: solid 1px;
}
#print {
  height: 3em;
  padding: 0.3em;
  position: relative;
  top: 1.5em;
  right: calc(-100% + 1.5em);  
  background: var(--blue);
  border-radius: 50%;
  padding: 0.4em;  
  z-index: 2;
  transition: 0.5s;
}
#print img {
  height: 100%;
}
#print:hover, #print:focus {  
  background:var(--orange);
  transition: 0.5s;
}
