:root {
  --blue: #59e7db;
  --purple: #6d47d9;
  --orange: #f2b306;
  --shadow: 0px 5px 25px 0px #333;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(120deg, var(--blue), var(--purple));
  background-size: 100vw 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.mt50 {
  padding-top: 50px;
  overflow: visible;

}
button {
  border: 0;
}
header {
  background-color: rgba(0, 0, 0, 01);
  padding: 10px;
  box-shadow: var(--shadow);
}

.logo {
  float: left;
  font-size: 1.5em;
  position: relative;
  top: -0.2em;
}

.tdg, header ul {
  color: white;
}
.bol {
  color: var(--blue);
}

header ul, header button, .loginBtn {
  list-style: none;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

header li {
display: inline;
float: right;
padding: 0 20px 0 0;
}

.login {
  text-align: center;
  overflow: visible;
}
header button, .loginBtn {
  background: var(--orange);
  color: black;
  border-radius: 5px;
  padding: 0.3em 1em;
  position: relative;
  top: -0.3em;
  box-shadow: var(--shadow);
  transition-duration: 1s;
}
header button {
  box-shadow: 0px 5px 25px 0px #777;
}
header button:hover, .loginBtn:hover {

  background: #ffee53;
  transition-duration: 0.5s;
  cursor: pointer;
}
.hello {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr;
}
.box {
  background: white;
  height: minmax(200px, auto);
  width: 100%;
  border-radius: 4px;
  box-shadow: var(--shadow);
  /* overflow: show; */
  padding: 1em;
  position: relative;
}

.product-edit, .product-list {
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-edit input,
.product-edit textarea,
.product-edit select {
  width: 50%;
  padding: 10px;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
 
}
.product-edit input:focus,
.product-edit textarea:focus,
.product-edit select:focus {
  outline: 0;
  background: #fef2de;
}
.product-edit input:first-of-type, 
.product-edit input:last-of-type,
.product-edit button {
  width: 100%;
}
.product-edit button:hover {
  color: white;
  background: #333;
  transition-duration: 0.5s;
}

.product-list {
margin: 0;
padding: 0;
list-style: none;
}
.product-item {
  width: 100%;
  padding: 0px 10px 5px 10px;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.product-item:last-child {
  border: 0;
}
    .product-item-name {
      float: left;
    }
    .product-item-change {
      float: right;
      line-height: 1;
      overflow: hidden;
    }
    .product-item img {
      height: 1.5em;
      padding: 0.2em;
      position: relative;
      top: 0.4em;
    }
    .product-item input {
      width: 3em;
    }
.my-product-label, .add-product-label {
    position: absolute;
    border-radius: 5px;
    padding: 0.2em 1em;
    letter-spacing: 0.1em;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    top: 0;
    left: 0;
    -webkit-transform: translateX(-20%) rotate(-15deg);
    transform: translateX(-20%) rotate(-15deg);
}
.add-product-label{
  color: var(--blue);
  background: var(--purple)
}
.my-product-label {
  color: var(--purple);
  background: var(--blue)
}
